@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

ul,
li {
  list-style-type: none;
}

.draggable-list__item {
  padding: 10px 0;
  border-top: 4px solid transparent;
}

.draggable-list__item * {
  pointer-events: none;
}

.draggable-list__item.dragstart {
  opacity: 0.5;
}

.draggable-list__item.dragover {
  border-top-color: red;
}
